<div class = "main-outer-cnt">
    <div class = "upper-outer-cnt">
        <span>Order placed successfully</span>
        <img src="../../assets/images/celebration.png" alt="congrates-pic">
        <span>hurray!!! your order is confirmed <br>
            the order id is #12345 save the order id for <br>
                further communication</span>
    </div>
    <div class = 'info-outer-cnt'>
        <table>
            <tr align="center">
                <th class="headers">Email us</th>
                <th class="headers">Contact us</th>
                <th class="headers">Address</th>
            </tr>
            <tr align="center">
                <td class="data">amin@gmail.com</td>
                <td class="data">8412145527</td>
                <td class="data">Bridgelabz,Bangalore,Karnataka</td>
            </tr>
        </table>
    </div>
    <button id = 'continue-shopping-btn' routerLink = "/dashboard/home">Continue Shopping</button>
</div>
