<div class = "main-outer-cnt">
    <div class = "upper-outer-cnt">
        <span>Order placed successfully</span>
        <img src="../../assets/images/celebration.png" alt="congrates-pic">
        <span>hurray!!! your order is confirmed <br>
            the order id is #12345 save the order id for <br>
                further communication</span>
    </div>
    <div class = 'info-outer-cnt'>
        <table>
            <tr align="center">
                <th class="headers">Email us</th>
                <th class="headers">Contact us</th>
                <th class="headers">Address</th>
            </tr>
            <tr align="center">
                <td class="data">{{user.email}}</td>
                <td class="data">{{user.mobnum}}</td>
                <td class="data">{{address.fullAddress}},{{address.city}},{{address.state}}</td>
            </tr>
        </table>
    </div>
</div>
