<div id = "main-cnt">
<span id = "forget-password">Forgot your Password?</span>
<div id ="main-content">
        <pre id = "desc">
Enter your email address and we'll send you
a link to reset your password.
        </pre>
        <div style = "margin-bottom: 7px;">
        <span id ="email-label" [(ngModel)] = "email">Email Id</span>
        <input type="email" id = "email-input">
        </div>
        <button id ="reset-password" (click) = "handleReset()">Reset Password</button>
</div>
<div id = "create-cnt">
    <span id = "create-span" >Create Account</span>
</div>
</div>